{% extends "base_site.html" %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extrahead %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<body>
 <div class="login">
  <h2 class="login-header">WELCOME</h2>

  <form class="login-container">
      <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>

      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>
<div>
  <input class="log" type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
 <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>

</form>




{% endblock %}

</div>