{% extends "reports.html" %}

{% block extrahead %}
<script>
$(document).ready(function(){
    $("select").change(function(){
        value = $("#select_order").val();
        value2 = $("#select_food").val();
        value3 = $("#select_day").val();
        $("#print_button").attr("href", "{% url 'report_now' %}?report=orderbyfood&order="+ value +"&food="+ value2 +"&day="+ value3);
    });
});
</script>
{% endblock extrahead %}
{% block action %}
<div class="col-sm-9">
    <a id="print_button" href="" class="btn btn-info" role="button">Print</a>
    <hr>
    <div>Order</div>
        <select id="select_order" class="browser-default custom-select custom-select-lg mb-3" style="width: 100%;">
            <option value="" disabled selected>Choose what Order to print</option>
            {% for obj in orders %}
            <option value="{{ obj.id }}">{{ obj.name }}</option>
            {% endfor %}
        </select>
    <hr>
    <div>Food</div>
    <select id="select_food" class="browser-default custom-select custom-select-lg mb-3" style="width: 100%;">
            <option value="" disabled selected>Choose what Food to print</option>
            {% for obj in products %}
            <option value="{{ obj.id }}">{{ obj.name }}</option>
            {% endfor %}
        </select>
    <hr>
    <div>Day</div>
    <select id="select_day" class="browser-default custom-select custom-select-lg mb-3" style="width: 100%;">
            <option value="" disabled selected>Choose what Day to print</option>
            <option value="all">All</option>
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
    </select>
</div>
{% endblock action %}
