{% extends 'hr_base_template.html' %}
{% load static %}
{% block action %}
<div class="col-sm-9">
    <h4>Order for {Date}</h4>
    <form id="order_form" method="get">
    {{ form.start_date }}
    to
    {{ form.end_date }}
    </form>
    <hr style="margin-bottom: 0px;">
    <div class="results">
        <table id="result_list">
            <thead>
            <tr>
                <th scope="col" class="sortable column-name">
                    <div class="text">
                        <a>Name</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-user">
                    <div class="text">
                        <a>User</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-total">
                    <div class="text">
                        <a>Total</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-supplier">
                    <div class="text">
                        <a>Supplier</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-status">
                    <div class="text">
                        <a>Status</a>
                    </div>
                    <div class="clear"></div>
                </th>
                                <th scope="col" class="sortable column-status">
                    <div class="text">
                        <a>Action</a>
                    </div>
                    <div class="clear"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="field-name"><a href="{% url 'order-detail' order.pk %}">{{ order.name }}</a></td>
                <td class="field-user">{{ order.user.username }}</td>
                <td class="field-total">{{ order.total }}</td>
                <td class="field-supplier">{{ order.supplier_id.name }}</td>
                <td class="field-status">{{ order.status }}</td>
                <td><a href="#" class="deletelink">Cancel</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock action %}