h1
{
    text-align: center;
}



/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 60%;
    display: inline-block;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

  }
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1
{
	color: ;
    font-size: 18px;
    text-align: left;
    color: gray;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

