<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <style>
        body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
    </style>
</head>
<body>
<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Feedback section
                </div>
                <div class="panel-body">
                        <form method="post">
                        {% csrf_token %}
                            {{ form.as_p}}
                            <input type="submit" value="Post" class="default">
                    <br>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        {% for comment in comments %}
                        <li class="media">
                            <div>{{ comment.user}} says:</div>

                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.date }}</small>
                                </span>
                                <p style="font-size: x-large;">
                                    {{ comment.comment }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    document.getElementById("id_comment").rows = "5";
</script>
</body>
</html>