{% extends "base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

 {% block usertools %}
        <div id="user-tools">
            {% if user.has_usable_password %}
            {% block welcome-msg %}
                Welcome
                <strong>{% firstof user.get_short_name user.get_username %}</strong>
            {% endblock %}
            {% block userlinks %}

                <a href="{% url 'admin:password_change' %}">Change password</a> /
                <a href="{% url 'logout'%}">Log out</a>
            {% endblock %}
            {% endif %}
        </div>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'index' %}">{{ site_header|default:_('Eats Easy Ordering System') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    {% if user.is_authenticated %}
    {% if not perms.supplier.can_access_supplier %}
    <a href="{% url 'order-create' %}" style="margin-left:10px">Lunch</a>
    {% endif %}
    {% if perms.human_resource.can_access_hr %}
    <a href="{% url 'human_resource' %}" style="margin-left:10px">Human Resource</a>
    <a href="{% url 'hr_reports' %}" style="margin-left:10px">Reports</a>
    {% endif %}
    {% if perms.supplier.can_access_supplier %}
    <a href="{% url 'supplier' %}" style="margin-left:10px">Supplier Site</a>
    {% endif %}
    {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'admin:index' %}" style="margin-left:10px">Settings</a>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Log in</a>
    {% endif %}
</div>
{% endblock %}

{% block nav-global %}{% endblock %}