{% extends "lunch_base_template.html" %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/odetail.css' %}">
{% endblock extrahead %}
{% block action %}

<div class="col-sm-9">
    <h4 class="detail-name">{{ order.name }}</h4>
    <h4 class="detail-status">Status: {{ order.status }}</h4>
    <hr>
    <div class="day">
        <table id="customers">
            <tr>
                <th>Day</th>
                <th>Order</th>
            </tr>

            {% for order in orderlines %}
            <tr>
                <td>{{ order.day.title }}</td>
                <td>{{ order.product.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock action %}