{% extends "easy_pdf/base.html" %}
{% block extra_style %}
 <style>
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 5px;
}
</style>
{% endblock %}

{% block content %}
<h2>Orders</h2>
<p>{{ ordername }}</p>
<p>Orders: {{ count }}</p>
<table>
  <tr>
    <th>Name</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>

    {% for obj,value in dic.items %}
  <tr>
    <td>{{ obj }}</td>
    {% for val in value %}
    <td>{{ val.name }}</td>
    {% endfor %}
  </tr>
    {% endfor %}
</table>

{% endblock %}